html{
    height: 100%;
  }

body{
    background-color: dimgrey;
    position:absolute; 
    top:0; 
    bottom:0; 
    right:0; 
    left:0;
    min-height: 100%;
    margin:0; 
}

button{
    border-radius: 3em;
    padding: 1em;
    background-color:lightslategrey; 
    color: white;
    margin:0.2em
}

#acumula{
    margin-left: 11em; 
}

h1{
    text-align: center;
    color: rgb(250, 227, 227);
}


h5{
text-align:center;
text-decoration-line: underline;
color: rgb(250, 227, 227);
}

label{
    margin-left: 2em;
    margin-right: 1em;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(250, 227, 227);
    ;
}